<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hit-(18x18)_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>Hit-(18x18)_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>Hit-(18x18)_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>Hit-(18x18)_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit.png</string>
            <key>size</key>
            <string>{82,22}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55bba2464bd4d6001c614fa59a26be71$</string>
            <key>textureFileName</key>
            <string>hit.png</string>
        </dict>
    </dict>
</plist>
