<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>On (24x8)1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{24,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,8}}</string>
                <key>sourceSize</key>
                <string>{24,8}</string>
            </dict>
            <key>On (24x8)2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{24,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,8}}</string>
                <key>sourceSize</key>
                <string>{24,8}</string>
            </dict>
            <key>On (24x8)3.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{24,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,8}}</string>
                <key>sourceSize</key>
                <string>{24,8}</string>
            </dict>
            <key>On (24x8)4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,8}}</string>
                <key>sourceSize</key>
                <string>{24,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>blowWind.png</string>
            <key>size</key>
            <string>{106,12}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c807f8d9cbfde669debd493257a92296$</string>
            <key>textureFileName</key>
            <string>blowWind.png</string>
        </dict>
    </dict>
</plist>
