<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>On (16x32)1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>On (16x32)2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
            <key>On (16x32)3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,32}}</string>
                <key>sourceSize</key>
                <string>{16,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>on.png</string>
            <key>size</key>
            <string>{20,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e368c88a9349dacf61dddb2b6b58c86b$</string>
            <key>textureFileName</key>
            <string>on.png</string>
        </dict>
    </dict>
</plist>
